[Unit]
Description=Cellar Monitoring System
[Service]
User=pi
WorkingDirectory=/home/pi/projects/cellar-release/cellar-dist
ExecStart=/home/pi/projects/cellar-release/cellar-dist/cellar.sh start
ExecStop=/home/pi/projects/cellar-release/cellar-dist/cellar.sh stop
ExecReload=/home/pi/projects/cellar-release/cellar-dist/cellar.sh restart

SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5
[Install]
WantedBy=multi-user.target